<!DOCTYPE html>
<html ng-app="simple">
    <head>
        <meta charset="utf-8">
        <title>Simple angular 4</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    </head>
    <body ng-controller="SimpleCtrl">
        <input type="text" ng-model="newName" ng-keypress="addName($event)" />
        <ul>
            <li ng-repeat="name in names">{{name.value}}</li>
        </ul>

        <script src="js/simple.js"></script>
    </body>
</html>
